
.search-result-container{
    width: 95%;
    background-color: #E7E7E8;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    text-align: left;
    border: none
}

.search-result-container:hover{
    border-left: 5px solid #D96F32;
    transform: scale(1.01);
    cursor: pointer;
}

.thumbnail-and-title-container{
    display: flex;
    flex-direction: row;
}

.thumbnail{
    height:50px;
    width: 50px;
    margin-right: 20px;
}

.wiki-title{
    font-size: 22px;
    color: #000000;
}

.wiki-summary{
    font-size: 16px;
    color: #000000;
}

@media all and (max-width: 576px){
    .thumbnail-and-title-container{
        overflow: scroll;
    }


    .wiki-title{
        font-size: 18px;
    }

    .wiki-summary{
        font-size: 14px;
        overflow: scroll;
    }

    .thumbnail{
        width: 40px;
        height: 40px;
    }
}