body{
    margin: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.main-container{
    background: #092B40;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-search-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.heading-random-article{
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
}

.search-lens{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid #D96F32;
    position: relative;
}

.search-lens::after{
    content: "";
    width: 5px;
    height: 20px;
    background-color: #D96F32;
    transform: rotate(-45deg);
    position: absolute;
    top: 35px;
    left: 40px;
}

.input-container{
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 300px;
}

.input-field{
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    border: 5px solid #d96f32;
    border-radius: 40px;
    padding: 15px;
    align-self: center;
}

.input-field-2{
    max-width: 300px;
}

.input-field:focus{
    outline: none;
}

.icon-search-para{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 20px;
}




.search-results-main-container{
    background-color: #092B40;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results-container{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.no-results{
    font-size: 25px;
    color: #ffffff;
    margin-top: 40px;
}

.animated-input{
    animation: expand 0.5s;
}

@keyframes expand{
    0%{
        width: 40px;
    }
}

@media all and (max-width: 576px){
    .input-field{
        width: 80%;
        font-size: 16px;
    }

    .heading-random-article{
        font-size: 18px;
    }
}